* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.hidden {
  display: none;
}

/* User */
#user {
  position: fixed;
  top: 0;
  right: 0;
  padding: 15px;
}
#user img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

input,
textarea {
  background-color: #eee;
  border: 0;
  border-radius: 4px;
  height: 30px;
  padding: 0 0 0 10px;
  margin-bottom: 10px;
  resize: none;
}
textarea {
  height: 100px;
}

.library {
  display: flex;
  margin-bottom: 50px;
}
.card {
  display: inline-block;
  background-color: #ddd;
  margin: 0 10px;
  padding: 20px;
  width: 180px;
  height: 240px;
  border-radius: 8px;
}
.card.drawn {
  opacity: .5;
}
.card input {
  width: 100%;
}

.delete-card {
  width: 100%;
  margin: 10px 0;
}

.NCards {
  width: auto;
}

#my-hand .card.drawn {
  opacity: 1;
}